@media (min--moz-device-pixel-ratio:0) {
    fieldset {
    display: table-column;
    }
}

.cores label::after {
    border: 6px solid rgba(0, 0, 0, 0);
    transition: 1s;
}

.cores label:hover:after {
    border: 6px solid rgba(0, 0, 0, .1);
}

.cores label:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;

}

label[for=verde]:after {
    background-color: #33cc66;
    left: 0;
}

label[for=rosa]:after {
    background-color: #ff6666;
    left: 60px;
}

label[for=azul]:after {
    background-color: #6666ff;
    left: 120px;
}

.cores input:checked + label:after {
    border: 6px solid rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2px #dcdcdc;
}

.cores label:after {
    -moz-box-sizing: border-box;
    position: absolute;
    top: 30px; 
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked)+label img {
    display: none;
}

.cores {
    position: relative;
    padding-top: 90px;
}

.cores legend {
    position: absolute;
    top: 0;
    left: 0;
}

.cores label img {
    display: block;
    max-width: 100%;
}



.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.comprar {
    background: #91bd3c;
    border: none;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px;
    display: block;
    padding: .5em 1em;
    margin: 1em 0; 
}

@media (min-width: 630px) {
    .produto {
/* a foto vai se posicionar absolutamente com relacao a esse element, por isso foi posicionado */
        position: relative;
    
/*deixo 40% de espaco em banco a esquerda p/ a foto ocupa */

        padding: 0;
    }


}


