.cores label:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

label[for=verde]:after {
    background-color: #33cc66;
}

label[for=rosa]:after {
    background-color: #ff6666;
}

label[for=azul]:after {
    background-color: #6666ff;
}

.cores input:checked + label:after {
    border: 6px solid rgba(0, 0, 0, o.3);
}

.cores label:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(checked) + label img {
    display: none;
}
