.cores label:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

label[for=verde]:after {
    background-color: #33cc66;
}

label[for=rosa]:after {
    background-color: #ff6666;
}

label[for=azul]:after {
    background-color: #6666ff;
}

.cores input:checked + label:after {
    border: 6px solid rgba(0, 0, 0, o.3);
}

